body
{
	font:'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	background-color:  #888c91;
}
h2
{
	color: darkblue;
    font-weight:600;
    text-align: center;
}
img
{
	border-radius: 50%;
	position:absolute;
	display: block;
    display:  flex;
    align-items: center;
    justify-content:  center;
}
h1
{
  font-size: 10vw;
  text-shadow: 4px 4px 0px #3F7FBF;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
  text-align: center;
}
.container
{
  background-color: white;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
input[type=text]
{
  width:500px;
  height:40px;
  transition: width 0.4s ease-in-out;
  padding:5px 15px; background:#ccc; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 30px; 
}
.keyword
{
  position:absolute;
  left:30%;
  top:60%;
  margin-top:-50px;
  margin-left:-50px;
}
.brand
{
  position:absolute;
  left:30%;
  top:50%;
  margin-top:-50px;
  margin-left:-50px;
}
input[type=text]:focus {
  width: 60%;
}